<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/addStudent/">添加学生</a>
<table>
    <tr>
        <td>姓名</td>
        <td>年龄</td>
        <td>操作</td>
    </tr>
    {% for stu in student %}
        <tr>
            <td>{{ stu.name }}</td>
            <td>{{ stu.age }}</td>
            <td ><a href="/editStudent/{{ stu.id }}">编辑学生</a><a href="/delStudent/{{ stu.id }}">删除学生</a></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>